<html lang="zh-CN">
<head>
  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sign</a>
      </div>
    </div>
  </nav><br><br><br><br><br><br>

  <div class="text-center">
    <div class="well" >
      <h1>{{ event.name }}</h1><br><br>
      <form class="text-center" action="/sign_index_action/{{ event.id }}/" method="post">
        <center>
        <div class="input-group">
          <input name="phone" type="text" class="form-control" placeholder="输入手机号" style="border-style:none">
          <input type=text value=swerwdfwe style="border-style:none">
          <font color="red">
            <br>{{hint}}
            <br>{{user.realname}}&nbsp&nbsp{{user.phone}}
          </font>
        </div>
        </center>
     </form>
    </div>
  </div>

</body>
</html>
