<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1360px">
<title>二维码签到</title>
<link rel="stylesheet" href="/static/css/draw_results.css" />
<script type="text/javascript">
    var mzGlobalData = {};
    mzGlobalData.eid={{eventid}};
</script>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<link REL="SHORTCUT ICON" HREF="{{ MEDIA_URL }}/static/image/favicon.ico">

</head>
<style type="text/css">
	a{color:white;outline:none;}
</style>
<body id="body_bg">
<div id="cent_box_isn" style="display:none;"></div>
<div id="bg_left_center"></div>
<div id="bg_left_bottom"></div>
<div id="bg_right_top"></div>
<div id="bg_right_bottom"></div>
<div class="clear"></div>
<!-- <div id="bg_buttom"></div> -->
<!--
<div id="text">欢迎来到xx新品发布会</div>
-->
<!-- 光标聚焦输入框 -->
<div id="cent_box">
    <div class="box">
        <input id="name" type="text" value="" />
    </div>
</div>
<!-- 用户信息显示状态 -->
<div id="txet_box" style="display:none;">
    <input type="hidden" id="userid">
    <input type="hidden" id="isin">
    <input type="hidden" id="issignin">
    <ul>
        <li class="issue_name">
            <div id="wined" class="wined"></div>
            <div class="user_box">
                <a id="username" ></a>
                <!-- <a id="wined" class="win  wined">已签到</a> -->
                <!--<cite class="typename">签到成功</cite> -->
            </div>
            <div class="valid_box">
                <a id="valid"></a>
            </div>
            <div class="type_box">
                <!-- <a id="typename"></a> -->
                <a id="seat"></a>
                <a id="start" class="text_icon start"></a>
            </div>
        </li>
        <li class="message">
            <span class="text_icon" id="station"></span>
            <span class="text_icon" id="position"></span>
        </li>
        <li class="message boder">
            <span class="text_icon" id="telphone"></span>
            <span class="text_icon" id="email"></span>
        </li>
    </ul>
</div>

<!-- 用户不存在 验证失败状态-->
<div id="text_box_2" style="display:none;">
    <div>
        <span  class="cry"></span>
        <span style="display:none" class="smile"></span><!-- 入场成功 离场成功笑脸 -->
        <span id="tips"></span>
    </div>
</div>


<!-- <div class="same_text">姓名有重复 请输入手机号码或用户ID签到</div> -->
<script type="text/javascript" src="/static/js/conference_sign.js"></script>

</body>
</html>
