certifi==2017.4.17
chardet==3.0.4
click==6.7
Django==1.10.3
django-bootstrap3==9.0.0
djangorestframework==3.6.3
Flask==0.12.2
gevent==1.2.2
greenlet==0.4.12
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
locustio==0.8a2
MarkupSafe==1.0
msgpack-python==0.4.8
PyMySQL==0.7.11
pyzmq==15.2.0
requests==2.18.1
six==1.10.0
urllib3==1.21.1
uWSGI==2.0.15
Werkzeug==0.12.2
